html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


ol li[data-v-9e0cd6d6] {
  margin-bottom: 7px;
  padding-left: 25px;
  position: relative;
}
ol[data-v-9e0cd6d6] {
  margin-bottom: 25px;
}
.crawled[data-v-9e0cd6d6] {
  font-size: 10px;
}
ol li[data-v-9e0cd6d6]:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(//cdn.bulbagarden.net/upload/9/93/Bag_Pok%C3%A9_Ball_Sprite.png)
    center center;
  background-size: cover;
  position: absolute;
  left: 0;
}
ul[data-v-9e0cd6d6] {
  padding: 20px;
}
ul img[data-v-9e0cd6d6] {
  width: 20px;
  height: 20px;
}
ul li[data-v-9e0cd6d6] {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.legends[data-v-9e0cd6d6] {
  width: 100%;
  position: sticky;
  left: 0;
  bottom: 0;
  padding-bottom: 20px;
  height: 44px;
  overflow: hidden;
  box-shadow: 0 -5px 5px -2px #ccc;
  background: #eee;
}
.legends.open[data-v-9e0cd6d6] {
  height: auto;
}
.legends button[data-v-9e0cd6d6] {
  outline: 0;
  cursor: pointer;
  height: 44px;
  font-size: 1rem;
  padding: 5px 20px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  border-right: 0;
  border-left: 0;
  border-top: 1px solid #ccc;
  width: 100%;
  background: #eee;
}
.legends button span[data-v-9e0cd6d6] {
  display: inline-block;
  float: right;
}
svg[data-v-9e0cd6d6] {
  width: 25px;
  height: px;
  fill: #eee;
}
span[data-v-9e0cd6d6] {
  font-size: 10px;
  display: inline-block;
  margin-bottom: 10px;
}


header {
  position: sticky;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
  background: #24292e;
  box-shadow: 0 5px 5px -2px #333;
}
header li {
  display: inline-block;
  color: #ccc;
}
header button {
  cursor: pointer;
  background: none;
  border: 0;
  font-size: 1.3rem;
  color: #ccc;
}
header button.active {
  font-size: 2rem;
  font-weight: bold;
  color: #eee;
}
header button.active:hover {
  text-decoration: none;
  cursor: default;
}
header button:hover {
  text-decoration: underline;
  color: #eee;
}
header button:hover {
  text-decoration: underline;
  cursor: pointer;
}
main {
  padding: 0 20px;
  position: relative;
  padding-bottom: 82px;
}
main aside {
  width: 15%;
  min-width: 200px;
  position: sticky;
  top: 100px;
  left: 0;
  height: calc(100vh - 100px - 82px);
  float: left;
  overflow-y: scroll;
  padding-top: 20px;
  box-shadow: -5px 0 5px -2px #ccc inset;
}
main > div {
  width: 85%;
  padding-left: 20px;
  padding-top: 20px;
  margin-left: 15%;
}
header h1 {
  display: block;
  width: 359px;
  height: 90px;
  color: transparent;
}
header h1.ultra-sun-moon {
  background: url(26d3d92f0e15bd8289eb531f244c76ed.png);
  background-size: cover;
}
header h1.sun-moon {
  background: url(d68fedc80d1f46ee61e71131b45806ef.png);
  background-size: cover;
}
.back-to-top {
  width: 50px;
  height: 50px;
  background: rgba(102, 102, 102, 0.6);
  color: #fff;
  position: fixed;
  bottom: 132px;
  right: 0;
  display: block;
  text-align: center;
}
.back-to-top svg {
  width: 35px;
  margin-top: 5px;
  height: 35px;
  fill: #fff;
}
.game-ultra-sun-moon,
.game-sun-moon {
  display: none;
}
.sun-moon .game-sun-moon,
.ultra-sun-moon .game-ultra-sun-moon {
  display: block;
}

html {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2.2rem;
  margin-top: 1.8rem;
  position: relative;
}

h2:before {
  content: '';
  display: block;
  width: 45%;
  height: 5px;
  background: red;
  position: absolute;
  left: 15px;
  top: 15px;
  border-radius: 10px;
  z-index: -1;
}

h2:after {
  content: '';
  display: block;
  width: 45%;
  height: 5px;
  background: red;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 10px;
  z-index: -1;
}

h2 span {
  background: #fff;
  padding: 0 20px;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.table img {
  width: 40px;
  height: 40px;
}

.no-pkmn {
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  padding: 20px;
  background: #eee;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  line-height: 1.5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 -5px 5px -2px #ccc;
  height: 82px;
}

footer p {
  font-size: 0.7rem;
  max-width: 50%;
  text-align: center;
}

footer .contribute {
  display: inline-block;
}

footer .contribute a {
  display: flex;
  align-items: center;
}

footer .contribute svg {
  margin-left: 10px;
}

.table {
  width: 100%;
}

.area > .table {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.area > .table > .row {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  border-bottom: 1px solid #eee;
}

.area > .table .pkmn-row.checked:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.1);
}

.area > .table .pkmn-row:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 30px solid rgba(0, 0, 0, 0.1);
  border-right: 30px solid transparent;
  cursor: pointer;
}

.area > .table .pkmn-row.checked:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 30px solid #c4ff4d;
  border-right: 30px solid transparent;
}

.area > .table > .row:first-child {
  position: sticky;
  top: 100px;
}

.area > .table > .row > .cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-weight: bold;
}

.cell {
  width: calc(100% / 13);
  min-height: 40px;
  line-height: 1.5;
  text-align: center;
}

.cell[colspan='13'] {
  width: 100% !important;
  text-align: center !important;
  margin-left: 0 !important;
  padding: 0 10px;
}

.cell[colspan='2'] {
  width: calc(200% / 13);
}

/* Games colum title */
.cell[colspan='6'] {
  width: calc(200% / 13);
}

/* Games colums */
.cell[colspan='3'] {
  width: calc(100% / 13);
}

.area > .table > .row > .cell:nth-child(1) {
  width: calc(200% / 13);
  text-align: left;
}

/* Alies column */
.area > .table > .row > .cell:nth-child(2) {
  width: calc(500% / 13);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.area > .table > .row > .cell:nth-child(5) {
  text-align: left;
}

.area > .table > .row > .cell:nth-child(5) img {
  width: 25px;
  height: 25px;
}

.table .row:nth-child(2) .heading {
  width: calc(100% / 13) !important;
  text-align: center !important;
}

.area > .table > .row:nth-child(2) > .heading:first-child {
  margin-left: calc(1100% / 13);
}

.area > .table > .row:nth-child(2) > .heading:first-child[colspan='13'] {
  width: 100% !important;
}

.area > .table .row:nth-child(2) .heading img {
  margin: 0 auto;
}

.area {
  margin-bottom: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.area:first-child {
  padding-top: 0;
}

.area > .table {
  margin-bottom: 20px;
}

.cell > .table span {
  margin-right: 5px;
}

.cell > .table .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cell > .table .row .cell:nth-child(1) {
  width: 40px !important;
  height: 40px !important;
  border-radius: 100% !important;
  margin: 10px;
  padding: 0;
}

.cell > .table .cell {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: left;
}

.cell > .table .cell:nth-child(2) {
  justify-content: center;
}

.cell > .table .cell span:nth-child(2) {
  font-size: 0.7rem;
}

.hamburguer {
  display: none;
}
@media (max-width: 1200px) {
  header h1 {
    display: none;
  }

  main {
    padding-bottom: 20px;
  }

  main aside {
    left: -100%;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    box-shadow: none;
    background: #fff;
    padding: 50px;
    padding-bottom: 0;
    z-index: 5;
  }

  main aside.mobile-open {
    left: 0;
  }

  main > div {
    margin-left: 0;
    width: 100%;
    padding-left: 0;
  }

  /* Table */

  .cell {
    width: calc(100% / 8);
  }

  .cell[colspan='2'] {
    width: calc(200% / 8);
  }

  /* Games colum title */
  .cell[colspan='6'] {
    width: calc(200% / 8);
  }

  /* Games colums */
  .cell[colspan='3'] {
    width: calc(100% / 8);
  }

  .area > .table > .row > .cell:nth-child(1) {
    width: calc(100% / 8);
  }

  /* Alies column */
  .area > .table > .row > .cell:nth-child(2) {
    width: calc(200% / 8);
  }

  /* Sun image cell */
  .area > .table > .row:nth-child(2) > .heading:first-child {
    display: none;
  }

  .table .row:nth-child(2) .heading {
    width: calc(100% / 8) !important;
  }

  .area > .table > .row:nth-child(2) > .heading:first-child + .heading {
    display: none;
  }
  .area > .table > .row:nth-child(2) > .heading:first-child {
    margin-left: 0;
  }
  /* End Table */

  .cell > .table .row {
    justify-content: center;
  }

  .cell > .table .row img {
    margin: 0 auto;
  }

  .cell > .table .cell:nth-child(2) {
    display: none;
  }

  .area > .table > .row > .cell:nth-child(2) span:nth-child(2n) {
    display: none;
  }

  .table {
    font-size: 0.8rem;
  }

  header {
    justify-content: flex-end;
  }

  .hamburguer {
    display: block;
    outline: 0;
    border: 0;
    background: none;
    position: fixed;
    z-index: 2;
    top: 35px;
    left: 25px;
  }

  .mobile-open .hamburguer {
    left: auto;
    right: 25px;
  }

  .legends.open {
    height: auto !important;
    max-height: 80vh;
    overflow-y: scroll;
  }

  .back-to-top {
    width: 50px;
    height: 50px;
    bottom: 50px;
  }

  footer {
    flex-direction: column-reverse;
    height: auto;
    position: static;
    box-shadow: none;
  }

  footer p {
    max-width: 100%;
    margin: 20px 0;
  }

  footer .contribute a {
    flex-direction: column-reverse;
  }
}


/*# sourceMappingURL=style.css.map*/