
li[data-v-476f3fbd] {
  margin-bottom: 7px;
  padding-left: 25px;
  position: relative;
}
li[data-v-476f3fbd]:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(//cdn.bulbagarden.net/upload/9/93/Bag_Pok%C3%A9_Ball_Sprite.png)
    center center;
  background-size: cover;
  position: absolute;
  left: 0;
}


header[data-v-ec4a6a64] {
  position: sticky;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
  background: #eee;
  box-shadow: 0 5px 5px -2px #ccc;
}
header li[data-v-ec4a6a64] {
  display: inline-block;
}
header button[data-v-ec4a6a64] {
  height: 50px;
  line-height: 50px;
  background: #ccc;
  border: 1px solid #333;
  border-radius: 3px;
  font-size: 16px;
  padding: 0 10px;
  opacity: 0.7;
  cursor: pointer;
}
header li:first-child button[data-v-ec4a6a64] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  margin-right: -4px;
}
header li:last-child button[data-v-ec4a6a64]:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
header button.active[data-v-ec4a6a64],
header button[data-v-ec4a6a64]:hover {
  background: #96e0ff;
  opacity: 1;
  cursor: default;
}
header button[data-v-ec4a6a64]:hover {
  text-decoration: underline;
  cursor: pointer;
}
main[data-v-ec4a6a64] {
  padding: 0 20px;
  position: relative;
}
main aside[data-v-ec4a6a64] {
  width: 15%;
  min-width: 200px;
  position: sticky;
  top: 100px;
  left: 0;
  padding-bottom: 20px;
  height: calc(100vh - 100px);
  float: left;
  overflow: scroll;
  padding-top: 20px;
  box-shadow: -5px 0 5px -2px #ccc inset;
}
main > div[data-v-ec4a6a64] {
  width: 85%;
  padding-left: 20px;
  padding-top: 20px;
  margin-left: 15%;
}
h1[data-v-ec4a6a64] {
  display: block;
  width: 359px;
  height: 90px;
  color: transparent;
}
h1.ultra-sun-moon[data-v-ec4a6a64] {
  background: url(26d3d92f0e15bd8289eb531f244c76ed.png);
  background-size: cover;
}
h1.sun-moon[data-v-ec4a6a64] {
  background: url(d68fedc80d1f46ee61e71131b45806ef.png);
  background-size: cover;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
}

.area > .table {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.area > .table > .row {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  border-bottom: 1px solid #eee;
}

.area > .table > .row > .cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-weight: bold;
}

.cell {
  width: calc(100% / 13);
  min-height: 40px;
  line-height: 40px;
  text-align: center;
}

.cell[colspan='13'] {
  width: 100% !important;
  text-align: center !important;
  margin-left: 0 !important;
}

.cell[colspan='2'] {
  width: calc(200% / 13);
}

/* Games colum title */
.cell[colspan='6'] {
  width: calc(200% / 13);
}

/* Games colums */
.cell[colspan='3'] {
  width: calc(100% / 13);
}

.area > .table > .row > .cell:nth-child(1) {
  width: calc(200% / 13);
  text-align: left;
}

/* Alies column */
.area > .table > .row > .cell:nth-child(2) {
  width: calc(500% / 13);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.area > .table > .row > .cell:nth-child(5) {
  text-align: left;
}

.table .row:nth-child(2) .heading {
  width: calc(100% / 13) !important;
  height: 40px;
  text-align: center !important;
}

.area > .table > .row:nth-child(2) > .heading:first-child {
  margin-left: calc(1100% / 13);
}

.area > .table > .row:nth-child(2) > .heading:first-child[colspan='13'] {
  width: 100%;
}

.table .row:nth-child(2) .heading img {
  margin: 0 auto;
}

.area {
  margin-bottom: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.area > h2 {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
}

.area > .table {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cell > .table span {
  margin-right: 5px;
}

.cell > .table .row {
  display: flex;
  align-items: center;
}

.cell > .table .row .cell:nth-child(1) {
  width: 40px !important;
  height: 40px !important;
  border-radius: 100% !important;
  margin: 10px;
  padding: 0;
}

.cell > .table .cell {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: left;
}

.cell > .table .cell span:nth-child(2) {
  font-size: 10px;
}

img {
  width: 40px;
  height: 40px;
}

footer {
  padding: 40px 20px 20px 20px;
  text-align: center;
  font-size: 10px;
}


/*# sourceMappingURL=style.css.map*/