.hamburguer {
  display: none;
}
@media (max-width: 1200px) {
  header h1 {
    display: none;
  }

  main {
    padding-bottom: 20px;
  }

  main aside {
    left: -100%;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    box-shadow: none;
    background: #fff;
    padding: 50px;
    padding-bottom: 0;
    z-index: 5;
  }

  main aside.mobile-open {
    left: 0;
  }

  main > div {
    margin-left: 0;
    width: 100%;
    padding-left: 0;
  }

  /* Table */

  .cell {
    width: calc(100% / 8);
  }

  .cell[colspan='2'] {
    width: calc(200% / 8);
  }

  /* Games colum title */
  .cell[colspan='6'] {
    width: calc(200% / 8);
  }

  /* Games colums */
  .cell[colspan='3'] {
    width: calc(100% / 8);
  }

  .area > .table > .row > .cell:nth-child(1) {
    width: calc(100% / 8);
  }

  /* Alies column */
  .area > .table > .row > .cell:nth-child(2) {
    width: calc(200% / 8);
  }

  /* Sun image cell */
  .area > .table > .row:nth-child(2) > .heading:first-child {
    display: none;
  }

  .table .row:nth-child(2) .heading {
    width: calc(100% / 8) !important;
  }

  .area > .table > .row:nth-child(2) > .heading:first-child + .heading {
    display: none;
  }
  .area > .table > .row:nth-child(2) > .heading:first-child {
    margin-left: 0;
  }
  /* End Table */

  .cell > .table .row {
    justify-content: center;
  }

  .cell > .table .row img {
    margin: 0 auto;
  }

  .cell > .table .cell:nth-child(2) {
    display: none;
  }

  .area > .table > .row > .cell:nth-child(2) span:nth-child(2n) {
    display: none;
  }

  .table {
    font-size: 0.8rem;
  }

  header {
    justify-content: flex-end;
  }

  .hamburguer {
    display: block;
    outline: 0;
    border: 0;
    background: none;
    position: fixed;
    z-index: 2;
    top: 35px;
    left: 25px;
  }

  .mobile-open .hamburguer {
    left: auto;
    right: 25px;
  }

  .legends.open {
    height: auto !important;
    max-height: 80vh;
    overflow-y: scroll;
  }

  .back-to-top {
    width: 50px;
    height: 50px;
    bottom: 50px;
  }

  footer {
    flex-direction: column-reverse;
    height: auto;
    position: static;
    box-shadow: none;
  }

  footer p {
    max-width: 100%;
    margin: 20px 0;
  }

  footer .contribute a {
    flex-direction: column-reverse;
  }
}
