.table {
  width: 100%;
}

.area > .table {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.area > .table > .row {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  border-bottom: 1px solid #eee;
}

.area > .table > .row:first-child {
  position: sticky;
  top: 100px;
}

.area > .table > .row > .cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-weight: bold;
}

.cell {
  width: calc(100% / 13);
  min-height: 40px;
  line-height: 1.5;
  text-align: center;
}

.cell[colspan='13'] {
  width: 100% !important;
  text-align: center !important;
  margin-left: 0 !important;
  padding: 0 10px;
}

.cell[colspan='2'] {
  width: calc(200% / 13);
}

/* Games colum title */
.cell[colspan='6'] {
  width: calc(200% / 13);
}

/* Games colums */
.cell[colspan='3'] {
  width: calc(100% / 13);
}

.area > .table > .row > .cell:nth-child(1) {
  width: calc(200% / 13);
  text-align: left;
}

/* Alies column */
.area > .table > .row > .cell:nth-child(2) {
  width: calc(500% / 13);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.area > .table > .row > .cell:nth-child(5) {
  text-align: left;
}

.area > .table > .row > .cell:nth-child(5) img {
  width: 25px;
  height: 25px;
}

.table .row:nth-child(2) .heading {
  width: calc(100% / 13) !important;
  text-align: center !important;
}

.area > .table > .row:nth-child(2) > .heading:first-child {
  margin-left: calc(1100% / 13);
}

.area > .table > .row:nth-child(2) > .heading:first-child[colspan='13'] {
  width: 100% !important;
}

.area > .table .row:nth-child(2) .heading img {
  margin: 0 auto;
}

.area {
  margin-bottom: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.area > .table {
  margin-bottom: 20px;
}

.cell > .table span {
  margin-right: 5px;
}

.cell > .table .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cell > .table .row .cell:nth-child(1) {
  width: 40px !important;
  height: 40px !important;
  border-radius: 100% !important;
  margin: 10px;
  padding: 0;
}

.cell > .table .cell {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: left;
}

.cell > .table .cell:nth-child(2) {
  justify-content: center;
}

.cell > .table .cell span:nth-child(2) {
  font-size: 0.7rem;
}
